<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Logger</title>
<body>
    <div class="container">
        <h1 class="Date">
            <%= CurrentTime %>
        </h1>
        <hr>
    </div>
    <ul>
        <% for(let i = 0; i < myLogs.length; i ++) {%>
            <li>
            <div>
                <%= myLogs[i].time %>
            </div>
            </li>
        <% } %>
    </ul>
    
    <footer>Egert Arr 2021 &#169;</footer>
    
</body>
</html>